.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-body {
  background-image: linear-gradient(to right, lightskyblue, blue, darkblue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vh);
  color: white;
}

.Present {
  background-image: linear-gradient(gray, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vh);
  color: white;
}

.flag{
  height: 100px;
  width: 100px;
  margin: 20px;
}
.Tillykke{
  display: inline-flex;
  align-items: center;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}


.App-link {
  color: #61dafb;
}


.myButton {
  -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
  -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
  background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
  background-color:#33bdef;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
  background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
  background-color:#019ad2;
}
.myButton:active {
  position:relative;
  top:1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
